{
  "extends": "eslint:recommended",
  "plugins": ["import", "prettier",  "jest"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
    "import/order": 2
  },
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  }
}
